@import "../../style/sass/mixins.scss";

@include style-a-li;

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .product-card {
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 3px 1px 14px 0px lightgray;
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;

    .product-image {
      img {
        border-radius: 0.4em;
      }
    }
    .product-info {
      text-align: center;
      padding: 1em;

      h5 {
        font-weight: 700;
      }
      .product-price {
        font-weight: 400;
        font-size: 1.3em;
      }
      .product-rating {
        color: gold;
        font-size: small;
      }

      .cart-button {
        display: flex;
        border: 1px black solid;
        border-radius: 1em;
        justify-content: space-evenly;

        .cart-icon-container {
          margin-top: 0.5em;
          padding: 0.2em;
          i {
            font-size: 1.2em;
          }
        }
        .cart-text-container {
          margin-top: 0.6em;
          padding: 0.1em;
          p {
            font-weight: 700;
            font-size: 1em;
          }
        }
        &:hover {
          cursor: pointer;
          box-shadow: 1px 3px 14px 0 lightgray;
        }
      }
    }
  }
}
